@using System.Security.Cryptography.X509Certificates
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using KrekelSchool.Models.DAL
@using KrekelSchool.Models.Domain1
@using KrekelSchool.Controllers
@using KrekelSchool.Models.ViewModels
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model KrekelSchool.Models.ViewModels.LeerlingScreenViewModel


@{
    ViewBag.Title = "Lener scherm";
}

<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<hr />
@if (TempData["Succes"] != null)
{
    <h1>@TempData["Succes"]</h1>
}
    
    <div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-8 ">
            <span>@Html.TextBox("zoek", null, new { @class = "form-control formListSearch" })</span>
        </div>
    }
        <br/>
       @if (Model.Voorlopige.Item != null || Model.Voorlopige.Lener != null)
       {
           <div class="col-md-4 gewenstItem">
               <h2>Gewenst boek</h2>
               <table>

                   @if (Model.Voorlopige.Item != null)
                   {
                   <tr class="trvuItem">
                       <p>@Model.Voorlopige.Item.Naam</p>
                       <img src="@Model.Voorlopige.Item.ImgUrl" alt="@Model.Voorlopige.Item.Naam" class="gewenstItemImg"/>
                       <br/>
                       @Html.ActionLink(" ", "VerwijderVoorlopigItem", new {id = @Model.Voorlopige.Item.Id}, new {@class = "btn btn-success btnRmv"})
                   </tr>
                   }

               </table>

               <h2>Aan</h2>
               <table>

                   @if (Model.Voorlopige.Lener != null)
                   {
                   <p>@(Model.Voorlopige.Lener.Naam + " " + Model.Voorlopige.Lener.Voornaam)</p>
                   <br/>
                   @Html.ActionLink(" ", "VerwijderVoorlopigeLener", new {id = @Model.Voorlopige.Lener.Id}, new {@class = "btn btn-success btnRmv"})
                   @Html.ActionLink(" toevoegen", "AanvaardUitlening")
                   }
                   
               </table>
               
           </div>
       }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink(" ", "LeerlingToevoegen", null, new {@class = "modal-link btn btn-success btnAddLln"})
                @using (Html.BeginForm("Leerling", "Leerling", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="excelAdd">
                        <input type="file" name="file" value="" class="btn btn-default addFile" />
                        <input type="submit" value="" class="btn btn-default addOk" />
                    </div>
                    
                } 
            </th>
                
            @foreach (var p in typeof (Lener).GetProperties())
            {
                if (!p.Name.Equals("Uitleningen") && !p.Name.Equals("Straat") && !p.Name.Equals("HuisNr") && !p.Name.Equals("Postcode") && !p.Name.Equals("Gemeente") && !p.Name.Equals("Email"))
                {
                    <th>
                        @p.Name
                    </th>
                }
            }

        </tr>
        @foreach (var l in Model.Leners)
        {
            <tr>
                <td>
                    @Html.ActionLink(" ", "LeerlingAanpassen", new {id = l.Id}, new {@class = "modal-link btn btn-success btnEdit "})

                    @Html.ActionLink(" ", "LeerlingDetail", new {id = l.Id}, new {@class = "modal-link btn btn-success btnDet"})

                    @Html.ActionLink(" ", "LeerlingVerwijderen", new {id = l.Id}, new {@class = "modal-link btn btn-success btnRmv"})

                    @Html.ActionLink(" ", "KiesVoorlopigeLener", new { id = l.Id }, new { @class = "btn btn-success btnRmv" })

                </td>
                @foreach (var p in l.GetType().GetProperties())
                {
                    if (!p.Name.Equals("Uitleningen") && !p.Name.Equals("Straat") && !p.Name.Equals("HuisNr") && !p.Name.Equals("Postcode") && !p.Name.Equals("Gemeente") && !p.Name.Equals("Email"))
                    {
                        <td class="">@l.GetType().GetProperty(p.Name).GetValue(l)</td>
                    }

                }

            </tr>
        }
    </table>
</div>

