@model KrekelSchool.Models.ViewModels.LeerlingViewModel


<div class="">
    <h2 class="modalFormTitle">@ViewBag.Title</h2>
    <h4>Bent u zeker dat u @Model.Naam, @Model.Voornaam wil verwijderen?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voornaam) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klas) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klas)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=" " class="btn btn-default addOk" />
            <button type="button" class="btn btn-default btnClose" data-dismiss="modal"></button>
        </div>
    }

</div>
<script type="text/javascript">
    $(function () {
        $('addOk').click(function () {
            $('#modal-container').modal('hide');
            location.reload();
        });
        $('.btnClose').click(function () {
            location.reload();
        });
    });
</script>
