@using KrekelSchool.Models
@using Microsoft.Ajax.Utilities
@model  KrekelSchool.Models.ViewModels.ItemScreenViewModel

<h2>@(ViewBag.Title + " " +Model.User.Gebruiker.Uname)</h2>
<h4>@ViewBag.Message</h4>
<hr />
@if (TempData["Succes"] != null)
{
    <h1>@TempData["Succes"]</h1> 
    
}


    @using (Html.BeginForm("Boek", "Boek", FormMethod.Get))
    {
        <div class="col-md-8 ">
            <span>
                @Html.TextBox("zoek", null, new { @class = "form-control formListSearch" })
            </span>
        </div>
    }
<div class="excelAdd">
    @using (Html.BeginForm("Boek", "Boek", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="" class="btn btn-default addOk" />
    }
</div>


        @Html.ActionLink(" ", "BoekToevoegen", "Boek", null, new { @class = "modal-link btn btn-success btnAdd" })
        @Html.ActionLink(" ", "LogIn", "Gebruiker", null, new { @class = "btn btn-success btnAdd" })
    
        @if (Model.Voorlopige.Item != null || Model.Voorlopige.Lener != null)
        {
            <div class="col-md-4 gewenstItem">
                <h2>Gewenst boek</h2>
                <table>

                    @if (Model.Voorlopige.Item != null)
                    {
                        if (Model.Voorlopige.Item.ImgUrl == " " || Model.Voorlopige.Item.ImgUrl == null || Model.Voorlopige.Item.ImgUrl == "")
                        {
                            <tr>
                                <p>@Model.Voorlopige.Item.Naam</p>
                                <img src=" " alt=" " class="gewenstItemImg itemImgEmpty" />
                                <br />

                                @Html.ActionLink(" ", "VerwijderVoorlopigItem", new { id = @Model.Voorlopige.Item.Id }, new { @class = "btn btn-success btnRmv" })
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <p>@Model.Voorlopige.Item.Naam</p>
                                <img src="@Model.Voorlopige.Item.ImgUrl" alt="@Model.Voorlopige.Item.Naam" class="gewenstItemImg" />
                                <br />
                                @Html.ActionLink(" ", "VerwijderVoorlopigItem", new { id = @Model.Voorlopige.Item.Id }, new { @class = "btn btn-success btnRmv" })
                            </tr>
                        }
                    }
                </table>

                <h2>Aan</h2>
                <table>
                    @if (Model.Voorlopige.Lener != null)
                    {
                        <p>@(Model.Voorlopige.Lener.Naam + " " + Model.Voorlopige.Lener.Voornaam)</p>
                        <br />
                        @Html.ActionLink(" ", "VerwijderVoorlopigeLener", new { id = @Model.Voorlopige.Lener.Id }, new { @class = "btn btn-success btnRmv" })

                    }

                </table>
                @if (Model.Voorlopige.Lener != null && Model.Voorlopige.Item != null)
                {
                    @Html.ActionLink(" ", "AanvaardUitlening", null, new { @class = "btn btn-success addOk" })
                }
            </div>
        }
        




    @foreach (var p in Model.Boeken)
    {


        <div class="col-md-8 itemObj">
            <h2>@p.Naam</h2>
            @if (p.ImgUrl == " " || p.ImgUrl == null || p.ImgUrl == "")
            {
                <img src="" alt=" " class="itemImgEmpty" />
            }
            else
            {
                <img src="@p.ImgUrl" alt="@p.Naam" class="itemImg" />
            }
            <table>
                <tr>
                    <td class="pName">Leeftijd : </td>
                    <td class="pNameValue">+ @p.Leeftijd</td>
                </tr>
                <tr>
                    <td class="pName">Auteur : </td>
                    <td class="pNameValue">@p.Auteur</td>
                </tr>
                <tr>
                    <td class="pName">Uitgever : </td>
                    <td class="pNameValue">@p.Uitgever</td>
                </tr>
                <tr>
                    <td class="pName">Thema : </td>
                    <td class="pNameValue">@p.Categories</td>
                </tr>
                <tr>
                    <td class="pName">Beschikbaar : </td>
                    @if (p.Beschikbaar.Equals(true))
                    {
                        <td class="pNameValue"> Ja</td>;
                    }
                    else
                    {
                        <td class="pNameValue"> Geen Meer</td>;
                    }

                </tr>
                @*@foreach (var prop in p.GetType().GetProperties())
                    {
                        <tr>
                            <td class="pName">@prop.Name : </td>
                            <td>@p.GetType().GetProperty(prop.Name).GetValue(p)</td>
                        </tr>
                    }*@
                @Html.ActionLink(" ", "BoekAanpassen", new { id = p.Id} ,new {@class = "modal-link btn btn-success btnEdit" })
                @Html.ActionLink(" ", "BoekDetail", new { id = p.Id}, new {@class = "modal-link btn btn-success btnDet" })
                @Html.ActionLink(" ", "BoekVerwijderen", new { id = p.Id}, new {@class = "modal-link btn btn-success btnRmv" })
                @Html.ActionLink(" ", "KiesVoorlopigItem", new { id = p.Id }, new { @class = "btn btn-success btnLeen"})

            </table>
        </div>
    }
    
</div>